{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8"/>
    <meta name="keywords" content=""> <!--검색엔진 키워드-->
    <meta name="description" content=""> <!--홈페이지 설명-->
    <title>헬스 친구 HealF</title>

    <!-- css -->
    <link rel = "stylesheet" href ="{% static 'market/test.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

  </head>
  <body>
    <!-- header -->
    <header>
      <div class = "wrapper">
        <h1>
          <a href="{% url 'home'%}">HealF </a>
        </h1>
        
      </div>
    </header>

    <br><br><br>
    <div class="content">
      <h2>아이템 등록 현황</h2>

      <!-- 등록된 아이템 정보 가져오기 -->
      {% for item in items %}
        <h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>       
      {% endfor %}

      <br>

      <!-- 페이징 기능 추가 -->
      <span>
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">이전 페이지</a>
        {% endif %} 

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">다음 페이지</a>
        {% endif %}
      </span>
    </div>
    

</html>

