{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8"/>
    <meta name="keywords" content=""> <!--검색엔진 키워드-->
    <meta name="description" content=""> <!--홈페이지 설명-->
    <title>헬스 친구 HealF</title>

    <!-- css -->
    <link rel = "stylesheet" href ="{% static 'market/item_detail.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

  </head>
  <body>
    <!-- header -->
    <header>
      <div class = "wrapper">
        <h1>
          <a href="{% url 'home'%}">HealF </a>
        </h1>
        
      </div>
    </header>


    <br><br><br>

    <div class="content">
        <h2>{{ object.title }}</h2>
        <p>작성자 : {{ object.user_info }}</p>
        <p>{{ object.modify_dt|date:"Y F j D" }}</p>
        <p>물품 카테고리 : {{ object.item_category }}</p>

        <!-- 이미지들 슬라이드로 변경하기 -->
        <ul class="slides">
          <input type="radio" name="radio-btn" id="img-1" checked />
          <li class="slide-container">
          <div class="slide">
            <img src="{{ object.img1.url }}" />
              </div>
          <div class="nav">
            <label for="img-3" class="prev">&#x2039;</label>
            <label for="img-2" class="next">&#x203a;</label>
          </div>
          </li>
      
          <input type="radio" name="radio-btn" id="img-2" />
          <li class="slide-container">
              <div class="slide">
                <img src="{{ object.img2.url }}" />
              </div>
          <div class="nav">
            <label for="img-1" class="prev">&#x2039;</label>
            <label for="img-3" class="next">&#x203a;</label>
          </div>
          </li>
      
          <input type="radio" name="radio-btn" id="img-3" />
          <li class="slide-container">
              <div class="slide">
                <img src="{{ object.img3.url }}" />
              </div>
          <div class="nav">
            <label for="img-2" class="prev">&#x2039;</label>
            <label for="img-1" class="next">&#x203a;</label>
          </div>
          </li>
         
          <li class="nav-dots">
            <label for="img-1" class="nav-dot" id="img-dot-1"></label>
            <label for="img-2" class="nav-dot" id="img-dot-2"></label>
            <label for="img-3" class="nav-dot" id="img-dot-3"></label>
          </li>
      </ul>
      
        <div>
            {{ object.description|linebreaks }}
        </div>

        <!-- 물품 수정/삭제  -->
        <!-- 현재 유저와 물품 등록한 유저가 같으면 update/delete 버튼이 활성화 되도록 한다. -->
        {% if request.session.user == object.user_info_id %}
        <div id="btn-group">
          <button id="btn1" type="button"><a href="{% url 'market:item_update' object.id %}">Update</a></button>
          <button id="btn2" type="button"><a href="{% url 'market:item_delete' object.id %}">Delete</a></button>
        </div>
        {% endif %}
        
    </div>
</html>

