{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'community/board_write.css' %}">
        <title>Community</title>
    </head>
    <body>
        <header>
            <div class = "wrapper">
                <h1>
                    <a href="{% url 'home'%}">HealF </a>
                </h1>
            </div>
        </header>

        <div class="board_wrap">
            <div class="info">
                <div class="name">
                    <strong>글작성</strong> 
                </div>
            </div>
            <div class="board_write">
                <form action="{% url 'community:board_write' %}" method="POST">
                    {% csrf_token %}
                
                    <div class="title">
                        <dl>
                            <dt>제목</dt>
                            <dd>{{forms.title}}</dd>
                        </dl>
                    </div>

                    {{forms.contents}}

                    {% if error %}
                    {{ error }}
                    {% endif %}
                
                    <div class="button">
                        <button type="submit" id="write">작성하기</button>
                    </div>
                </form>
                
                <div class="contents">
                </div>
            </div>
        </div>
    </body>
</html>