{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'community/board_write.css' %}">
        <title>Community</title>
    </head>
    <body>
        <header>
            <div class = "wrapper">
                <h1>
                    <a href="{% url 'home'%}">HealF </a>
                </h1>
            </div>
        </header>

        <div class="board_wrap">
            <div class="info">
                <div class="name">
                    <strong>글수정</strong> 
                </div>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
            
                {% for form in forms %}
                <div>
                    <label for="{{ form.id_for_label}}">{{form.label}}</label>
                    {{form}}
                </div>
                {% endfor %}
            
                {% if error %}
                {{ error }}
                {% endif %}
            
                <button type="submit">수정하기</button>
            </form>
        </div>
    </body>
</html>