{% load static %}
<html>
    <head>
        <meta charset="utf-8"/>
        <title>로그인</title>
        <!-- css -->
        <link rel = "stylesheet" href ="{% static 'users/login.css' %}">

        <!-- script -->
        <script type="text/javascript" src="https://developers.kakao.com/sdk/js/kakao.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>

        <script>
            Kakao.init('45dd1fae018be699da92b868bfbb5042');
            Kakao.isInitialized();
            function kakaoLogin() {
                window.Kakao.Auth.login({
                scope: 'profile_nickname', //동의항목 페이지에 있는 개인정보 보호 테이블의 활성화된 ID값을 넣습니다.
                success: function(response) {
                    console.log(response) // 로그인 성공하면 받아오는 데이터
                    window.Kakao.API.request({ // 사용자 정보 가져오기 
                        url: '/v2 /user/me',
                        success: (res) => {
                            const kakao_account = res.kakao_account;
                            console.log(kakao_account)
                        }
                    });
                    window.location.href='/healf.html'
                },
                fail: function(error) {
                    console.log(error);
                }
            });
            };
        </script>
    </head>

    <body>
        <header>
            <div class = "wrapper">
                <h1>
                <a href="{% url 'home' %}">HealF</a>
                </h1>
            </div>
        </header>
        <div class="wrap">
            <div class="healf">
                HealF
            </div>

            <div class="form_wrap">
                <form method="post" action="{% url 'users:login' %}">
                    {% csrf_token %}

                    <label for="user_id"></label>
                    <div class="id_pw">
                        <input type="id" name="user_id" placeholder="아이디" data-msg-required="이메일 주소를 입력해 주세요." aria-invalid="true">
                        <img src="{% static 'users/이메일.png' %}"/>
                    </div>
                    
                    <label for="user_pw"></label>
                    <div class="id_pw"> 
                        <input type="password" name="user_pw" placeholder="비밀번호" data-msg-required="이메일 주소를 입력해 주세요." aria-invalid="true">
                        <img src="{% static 'users/비밀번호.png' %}"/>
                    </div> 
                    <div class="login_error"><h5 id="login_error">{{ fail }}</h5></div>

                    <div class="login_wrap">
                        <!-- 추가 부분(이전 경로 가져오기) -->
                        <input type="hidden" name="prev_path" value="{{ prev_path }}"></input>
                        <input class="login" type="submit" value="로그인">
                    </div>
                </form> 

                <div class="kakao">
                    <a href="javascript:kakaoLogin()">
                        <img class="kakaoimage" src="{% static 'users/카카오톡.png' %}"/>
                    </a>
                </div>
                <div class="naver" id="naver_id_login"></div>        
                <script type="text/javascript">
                    var naver_id_login = new naver_id_login("GyanfkeJYGX8BrGOtCIg", "http://127.0.0.1:8000/users/login/nav_callback/");
  	                var state = naver_id_login.getUniqState();
                    naver_id_login.setButton("green", 10,50);
                    naver_id_login.setDomain("http://127.0.0.1:8000/users/login/");
                    naver_id_login.setState(state);
                    naver_id_login.setPopup();
                    naver_id_login.init_naver_id_login();
                </script>
                <script>element=document.getElementsByTagName("img")[3]
                    element.setAttribute('src',"{% static 'users/네이버.png' %}")</script>


                <!--
                <div class="kn">
                     <a href="javascript:kakaoLogin()">
                        <img class="kakaoimage" src="./카카오톡.png"/>
                     </a>
                     <a href="https://www.naver.com/">
                        <img class="naverimage" src="./네이버.png"/>
                    </a>
                </div>
                -->

                <div class="register">
                    <div class="question">
                        <p>아직 회원이 아니시라면?</p>
                        <a href="{% url 'users:register' %}">회원가입</a>
                    </div>
                </div>

            </div>
        </div>
        <script>var fail='{{ fail }}';
            console.log(fail)
            if (fail !=''){
                document.getElementById('login_error').setAttribute('style','display:block;');
            }
        </script>
    </body>
</html>
