@font-face {
    font-family: 'Baloo';
    src: url('BalooBhai.ttf') format('truetype');
}

header {
    font-family : 'Baloo';
    height : 60px;
    width: 100%;
    background-color: rgba(108, 60, 244, 0.85);
    color: white;
    position: relative;
    z-index: 9999;
    margin-bottom: 10;
}

/*healf*/
h3{
    font-size:20px;
    margin: 10 auto;
}

h1{
    line-height:5px;
    font-size: 40px;
    float : left;
}

h1 a{
    text-decoration: none;
    color : white;
}

.menu{
    float : right;
}
.wrapper{
    height : 60px;
    width :80%;
    margin : 0 auto;
}
.wrap{
    max-width: 768px;
    min-width: 460px;
    margin:0 auto;
}
.psbox{
    max-width: 768px;
    min-width: 460px;
    margin:0 auto;
}
.int{
    height:40px;
    width:75%;
    text-align:left;
}
#content{
    width: 460px;
    margin: 0 auto;}
.birthwrap{
    display:flex;
    height:51px;
    width:100%;
}
.birthyy{
    display:flex;
    width:100%;
    margin:1%;
}