@font-face {
    font-family: 'Baloo';
    src: url('BalooBhai.ttf') format('truetype');
}

header {
    font-family : 'Baloo';
    height : 60px;
    width: 100%;
    background-color: rgba(108, 60, 244, 0.85);
    color: white;
    position: fixed;
    z-index: 9999;
    top : 0;
    left : 0;
}

/*healf*/
h1{
    font-family: 'Nunito', sans-serif;
    line-height:5px;
    font-size: 40px;
    float : left;
}

h1 a{
    text-decoration: none;
    color : white;
}

.menu{
    float : right;
}
.wrapper{
    width :80%;
    margin : 0 auto;
}
.healf{position: absolute;
    width: 30.3333vw;
    height: 5.5556vw;
    left: 42vw;
    top: 14.4167vw;
    display: flex;
    align-items: center;
    
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.1667vw;
    line-height: 6.6667vw;
    color: rgba(108, 60, 244, 0.85);
}

.email{position: absolute;
    padding-left:3.1250vw;
    padding-right:3.1250vw;
    width: 30.2257vw;
    height: 4.2701vw;
    left: 36.5972vw;
    top: 21.5694vw;
    font-size: 1.3889vw;
    font-family:NanumSquareRoundB;
    background: rgba(255, 255, 255, 0.35);
    border: 2px solid #000000;}

.password{box-sizing: border-box;
    position: absolute;
    padding-left:3.1250vw;
    padding-right:3.1250vw;
    width: 30.2257vw;
    height: 4.2701vw;
    left: 36.5972vw;
    top: 26.6938vw;
    font-size: 1.3889vw;
    background: rgba(255, 255, 255, 0.35);
    border: 2px solid #000000;}

.login{box-sizing: border-box;
    border-radius: 10px;
    font-size:25px;
    position: absolute;
    width: 30.2778vw;
    height: 55px;
    left: 36.5972vw;
    top: 32.0556vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.5278vw;
    cursor:pointer;
    color:white;
    background: #2f95f6;
    border: 2px solid #000000;}

.emailimage{
    position: absolute;
    left: 37.4306vw;
    top: 22.2681vw;
    width: 2.0833vw;
    height: 2.4306vw;
}
.pwimage{
    position: absolute;
    width: 2.7014vw;
    height: 3.0278vw;
    left: 37.2542vw;
    top: 27.3146vw;
}
.naverimage{
    position: absolute;
    width: 31.5278vw;
    height: 4.8611vw;
    left: 36.1111vw;
    top: 45.8194vw;
}
.kakaoimage{
    position: absolute;
    width: 31.5278vw;
    height: 4.5139vw;
    left: 36.1111vw;
    top: 40.3333vw;
}

.question{position: absolute;
    width: 14.2361vw;
    height: 2.5000vw;
    left: 41.4583vw;
    top: 50.5139vw;
    margin-bottom: 10px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 1.0417vw;
    line-height: 2.2222vw;

    color: #000000;}

.register{position: absolute;
    width: 7.2222vw;
    height: 3.0556vw;
    left: 56.8056vw;
    top: 51.0694vw;
    margin-bottom: 2.5vw;
    text-align: center;
    text-decoration: none;
    font-size: 1.2500vw;
    cursor:pointer;
    color:white;
    background: #000000;}    

.white{
    position: absolute;
    width: 100.0000vw;
    height: 10.0000vw;
    left: 0.0000vw;
    top: 61.1111vw;
    
    background: #FFFFFF;}
