넌센스분야
술과 차를 팔지 않는 것을 사자성어로?
답 : 주차금지
돌잔치를 영어로?
답 : 락페스티벌
나방을 영어로 못 쓰는 이유는?
답 : Moth니까(못쓰니까) 나방은 영어로 Moth이다.
기우제를 순우리말로 하면?
답 : 오라비
행복한 사람만 모인 나라는?
답 : 방글라데시
물고기가 젊으면?
답 : 영어
소가 감전되서 죽으면?
답 : 우사인볼트
스님이 버스에서 내리면?
답 : 중도하차
몸무게가 22톤인 암컷 향고래가 500kg에 달하는 대왕 오징어를 먹고 6시간 뒤 1.3톤짜리 알을 낳았다면 이 암컷 항고래의 몸무게는 얼마일까
답 :  고래는 알을 낳지 않는다
납으로 된 50인용 잠수함에 남자 20명, 여자 29명이 탔는데 가라앉았다. 그 이유는 무엇일까
답 :  잠수함이니까 가라 앉죠
시험문제중 가장 많이 나오는 중학교는?
답 : 다음 중
초콜릿의 성은?
답 : 허씨(허쉬)
파리 중에 가장 무거운 파리는?
답 : 돌팔이
오리가 엎어지면?
답 : 철퍼덕
세상에서 가장 눈이 좋은 사슴은?
답 : 굿아이디어
총을 쏠 때 한 쪽 눈만 감는 이유는?
답 : 양쪽 눈을 다 감으면 안보이니까
‘할아버지 발이 크다’를 4글자로 하면?
답 : 노발대발
인삼은 6년근일 때 캐는 것이 가장 좋다. 그렇다면 산삼은 언제 캐는 것이 가장 좋을까?
답 : 보는 즉시
세상에서 가장 긴 음식은?
답 : 참기름
그럼 두번째로 긴 음식은?
답 : 들기름
세상에서 가장 가난한 임금은?
답 : 최저임금
고등학생이 싫어하는 나무?
답 : 야자나무
“자전거를 못탄다”를 영어로 하면?
답 : 모타 사이클
오이가 죽고 난 뒤 묘비명은?
답 : 오이무침
맨날 사과만 하는 동물은?
답 : 오소리
1.방바닥보다 항상 높은 바닥은?
답:발바닥
2.모든 일을 대충하는 사람들이 모인 땅은?
답:얼렁뚱땅
3.유모차타면 긴장하는 이유는?
답:애가타서
4.세 사람만 탈 수 있는 차는?
답:인삼차
5.Head는 머리 Line은 선, 그러면 Headline은?
답:가르마


학교, 학과 관련 퀴즈
(커뮤부는 홍보물 제작때문에 바빠서 이것도 우리가 해야될 것 같아! 시간 있는 사람들이 한 두문제씩 내자!!]

전남대학교의 교목은 소나무다.
[답] X, 느티나무
전남대학교의 개교기념일은 6월 9일이다.
[답] O
현재 전남대학교는 개교 70주년을 맞이하였다.
[답] O
현재 전남대학교의 정성택 총장님은 20대 총장이다.
[답]  X, 21대 총장님이다.
전남대학교의 교시는 진리, 열정, 봉사이다.
[답] X, 진리, 창조, 봉사이다. 
전남대학교의 캐릭터 이름은 용비와 봉비이다.
[답] O
통계학과 학과장님은 최일수 교수님이다.
[답] O
자연과학대학 학장님은 김민수 교수님이다.
[답] O
통계학과는 6개 전필 수업을 들어야 한다.
[답] X, 5개
통계학과 사무실은 자연과학대학 1호관 2층에 위치해 있다.
[답] O
전 학년도 통계학과 학생회장의 학번은 17학번이었다.
[답] X
UN에서 9월 1일을 세계통계의 날로 지정하였다.
[답] X
통계학과 전화번호는 062-530-3440 이다.
[답] O
계산통계학과가 전남대에 신설된 해는 1977년이다.
[답] O
계산 통계학과를 전산통계학과로 개편한 해는1984년이다.
[답] X
통계학과생 사물함은 자연대 2호관에 있다.
[답]  X 
대한민국 국가 통계 포털의 약자는 KOSIS이다.
[답]  O
윤주찬 대통계회장님의 생신은 4월 6일이다.
[답] X 


통계분야
1. 인구주택총조사의 주기

2. 몬티홀딜레마 -> 선택을 바꿔야한다? ox

3. 청소년기본법에 따라 청소년 연령의 범위 -> 객관식 _세 이상 _세 이하 (9/24)

4. 왜도(skewness)는 자료가 대칭적으로 분포되어 있는지 또는 한쪽으로 치우쳐져 있는지에 대한 측도
   첨도(kurtosis)는 양쪽 꼬리의 두터움 정도를 나타내는 값 _> 구분 문제

5. 카이제곱 (x2 )분포를 이용한 검정방법을 고안해낸 사람? ->객관식 문제-여러 수학자/통계학자 이름 (칼 피어슨)

6. 직선을 하나만 그어 올바른 식을 만드세요(등호 건드리지 않기!)
문제: 5+5+5=550
정답: 545+5=550

7. 통계적 추론은 (  )과 (  )으로 구분된다. 정답: 추정, 검정

8. 모집단에 대한 예상 또는 주장을 (  )이라고 한다. 정답: 가정

9. 검정을 하려면 귀무가설과 이에 반대되는 (   )가설을 세워야 한다. 정답: 대립

10.  2🔸3=5 
     3🔸4=10
     4🔸5=17 
     5🔸6=?  일때 ?의 값은?
정답: 26

11. 통계의 날은 우리나라 근대 통계의 시작으로 평가되고 있는 ‘호구조사규칙’이 최초로 마련된 0000년9월1일을 기념하기 위해 제정된 날이다. 이때의 연도는?? (힌트 1890년대)
정답: 1896년

12. 피어슨 상관계수에서 두 변수의 상관관계가 존재하지 않을 경우 상관계수의 값은?
정답: 0

13. 숫자 몇 개 깔아두고 대표값 찾기  중앙값, 최빈값 이런거

14. 두 변인간의 관계를 나타낸 측도로, 칼 피어슨이 고안한 방법을 주로 사용하는 개념 - 상관계수

15. 상자 수염 그림은 최소값, 1사분위수, (  ), 3사분위수, 최대값으로 자료를 요약한 것이다 - 중앙값

16. 귀무 가설을 기각할 수 있는 최소한의 유의 수준, 즉 대립가설을 채택했을 때 틀릴 확률은? - p값, 유의확률

17. 19세기 통계학의 주된 개념으로, 사람들을 우수한 집단과 열등한 집단으로 나눌 수 있다고 보고, 열등한 사람들의 결혼과 출산을 막고 우수한 집단의 수를 늘림으로써 더 좋은 사회와 국가를 만들어보려는 운동(객관식) - 우생학, 나머지는 대충

18. 통계의 어원인 이탈리아어 statista의 의미는?(객관식) - 국가(정치가), 나머지 대충

19. 모집단에서 취한 표본 평균값의 분포는 표본 수가 커질수록 평균값을 중심으로 하는 정규 분포에 가까워진다는 정리 (답 : 중심극한정리)

20. 다음 빈칸에 알맞은 연산자를 순서대로 쓰시오
5 □ 2 □ 8 □ 4 = 8 

21. 한 개의 주사위를 두 번 던질 때, 첫 번째 나오는 눈이 짝수이고, 두 번째 나오는 눈의 수가 6의 약수일 확률은?
