{% extends 'healf/index.html' %}

{% block contents %}
<div>상세보기 !</div>
<div style="border : 1px #000 solid; margin : 20px 0;"></div>
{% if writer %}
<a href="/board/detail/{{ board.id }}/modify"><button>수정</button></a>
<a href="/board/detail/{{ board.id }}/delete">삭제</a>
{% endif %}
<div>
    게시판 종류 : {{board.board_name}}
</div>
<div>
    작성자 : {{board.writer}} | 작성일 : {{board.write_dttm}} | 조회수 : {{board.hits}}
</div>
<div>
    제목 : {{board.title}}
</div>
<div>
    내용 : {{board.contents|safe}}
</div>
{% endblock contents %}