@font-face{
    font-family: 'Baloo';
    src: url("BalooBhai.ttf") format("truetype");
}

header {
    font-family : 'Baloo';
    height : 60px;
    width: 100%;
    background-color: rgba(108, 60, 244, 0.85);
    color: white;
    position: fixed;
    z-index: 9999;
    top : 0;
    left : 0;
  }
/*healf*/
h1{
    line-height:5px;
    font-size: 40px;
    float : left;
}
 
h1 a{
    text-decoration: none;
    color : white;
}

.wrapper{
    width :70%;
    margin : 0 auto;
}

.box{
    margin : 50%;
    padding : 30px;
    border : 1px solid black;
    border-radius : 5px;
}

.container {
    width : 65%;
    display : inline-flex;
    justify-content : space-between;
    margin-left: 18%;
    margin-top : 2%;
}

.menu{
    width : 230px;
    height : 230px;
    color : #FFFFFF;
    background-color : rgba(108, 60, 244, 0.85);
    text-align : center;
    margin-left : auto;
    margin-right :auto;
    font-family : 'Baloo';
    font-size: 30px;
    border-radius:40px;
}