@font-face {
    font-family: 'Baloo';
    src: url('BalooBhai.ttf') format('truetype');
}

*{
    margin : 0;
    padding : 0;
}

ul,li {
    list-style : none;
}

a {
    text-decoration: none;
    color : inherit;
}

header{
    font-family : 'Baloo';
    width :100%;
    height : 60px;
    background-color: rgba(108, 60, 244, 0.85);
    position: fixed;
    top : 0;
    left : 0;
}

.wrapper{
    width :70%;
    margin : 0 auto;
}

h1{
    line-height:60px;
    font-size: 40px;
    float : left;
}
 
h1 a{
    text-decoration: none;
    color : white;
}

.info{
    width : 70%;
    margin : 0 auto;
    margin-top: 80px;
}

.info .title{
    padding-left: 10px;
    font-family : 'Baloo';
    font-size: 22px;
}

.info .date{
    margin-top: 5px;
    text-align: center;
    font-weight: 600px;
    font-size: 40px;
}

.page_wrap{
    width: 70%;
    margin : 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page_wrap >div{
    margin: 10px 0;
    padding: 10px;
}

.page_wrap .profile_wrap{
    background-color: #F5F5F5;
    width: 480px;
    height: 200px;
    font-size: 0;
}

.page_wrap .profile_wrap .profile{
    padding : 40px 60px;
}

.page_wrap .profile_wrap .profile >div{
    float: left;
}

.page_wrap .profile_wrap p{
    border-bottom: 1px solid #000;
    float: right;
    padding-top: 5px;
    margin-right: 10px;
    font-size: 15px;
}

.page_wrap .profile_wrap .me{
    box-sizing: border-box;
    text-align: center;  
    font-size: 20px;
    width : 180px;
    height: 180px;
}

.page_wrap .profile_wrap .me img{
    margin-top: 10px;
    width: 90px;
    height: 90px;
    border-radius: 70%;
}

.page_wrap .profile_wrap .else{
    line-height: 150%;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 35px;
    width : 180px;
    height: 180px;
    font-size: 13px;
}

.page_wrap .profile_wrap .else span{
    font-size: 17px;
    font-weight: 600px;
}

.page_wrap .health_wrap{
    background-color: rgba(108, 60, 244, 0.1);
    width: 480px;
    height: 200px;
}

.page_wrap .title{
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
}

.page_wrap .health_wrap .info{
    width:80%;
    margin : 20px auto;
    line-height: 180%;
}

.page_wrap .health_wrap .recent{
    padding-left: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #000;
}

.page_wrap .health_wrap ul{
    padding-left: 30px;
    padding-top: 3px;
}

.page_wrap .health_wrap ul span{
    float: right;
    padding-right: 5px;
}

.page_wrap .challenge_wrap{
    background-color: rgba(108, 60, 244, 0.1);
    width: 480px;
    height: 200px;
}

.page_wrap .challenge_wrap a{
    float: left;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 60px;
}

.page_wrap .challenge_wrap img{
    width: 90px;
    height : 90px;
    background-color: #FFF;
    display: block;
    margin : 0 30px;
}

.page_wrap .challenge_wrap p{
    text-align : center;
}

.page_wrap .commu_wrap{
    background-color: rgba(108, 60, 244, 0.1);
    width: 480px;
    height: 200px;
    font-size: 0;
}

.page_wrap .commu_wrap dl{
    padding-left:43px;
    padding-right: 43px;
    font-size: 15px;
    margin-top : 30px;
    text-align: center;
    float: left;
    width: 150px;
    height: 100px;
    position: relative;
    border-right: 1px dotted #000;
}

.page_wrap .commu_wrap dl:last-child{
    border-right: none;
}

.page_wrap .commu_wrap dd{
    width:150px;
    height:80%;
    line-height: 80px;
}

.page_wrap .market_wrap{
    background-color: rgba(108, 60, 244, 0.1);
    width: 480px;
    height: 200px;
}

.page_wrap .market_wrap .info{
    width:90%;
    margin : 10px auto;
    display: flex;
    border-bottom: 1px solid #000;
}

.page_wrap .market_wrap .info .판매내역,
.page_wrap .market_wrap .info .구매내역{
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    color: #000;
    font-size: 14px;
    background-color: #fff;
    padding: 3px 15px;
    line-height: 25px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
}

.판매내역 span,
.구매내역 span {
    position: relative;
    z-index:1;
}

.page_wrap .market_wrap .info .판매내역:after,
.page_wrap .market_wrap .info .구매내역:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 390%;
    width: 150%;
    background: rgba(108, 60, 244, 0.85);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
  
.page_wrap .market_wrap .info .판매내역:hover:after,
.page_wrap .market_wrap .info .구매내역:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
  
