@font-face {
    font-family: 'Baloo';
    src: url('BalooBhai.ttf') format('truetype');
}
@font-face {
    font-family: 'ovo';
    src: url('Ovo-Regular.ttf') format('truetype');
}
ul,li {
    list-style : none;
}

a {
    text-decoration: none;
    color : inherit;
}
*{
    margin : 0;
    padding : 0;
}

header {
    font-family : 'Baloo';
    height : 60px;
    width: 100%;
    background-color: rgba(108, 60, 244, 0.85);
    position: fixed;
    top : 0;
    left : 0;
}
.wrapper{
    width : 70%;
    margin : 0 auto;
}
/*healf*/
h1{
    line-height:60px;
    font-size: 40px;
    float : left;
}
 
h1 a{
    color : white;
}

.menu{
    font-family : ovo;
    float : right;
}

/*로그인 회원가입*/
.menu li{
    line-height: 60px;
    float: left;
    font-size: 12pt;
    color : white;
    margin : 0 5px;
}

.menu li:last-child{
    margin-right: 0;
}

/*앱 다운로드 박스 비율 고정하기*/
.appdown{
    float : right;
    margin-top: 80px;
    margin-right : 60px;
    width : 19%;
}

.appdown img{
    width : 50%;
    height : 20%;
}

/*main*/
.main{
    text-align : center;
    position: absolute;
    width : 100%;
    height: 200px;
    top : 140px;
}

.main h3{
    margin-bottom: -30px;
    font-family: 'Baloo';
    font-weight: 400;
    font-size: 100px;
    color: rgba(108, 60, 244, 0.85);
}

.main p{
    font-family: 'Baloo';
    color : rgba(108, 60, 244, 0.85);
    font-weight : 400;
    font-size : 30px;
}

/*link*/
.link{
    position : absolute;
    width : 100%;
    left : 0px;
    top: 520px;
    display: flex;
    justify-content: center;
    background: rgba(245, 245, 245, 0.9);    
}

.link a{
    flex-direction: column;
    float : left;
    justify-content: center;
    align-items: center;
}

.link img{
    width : 100px;
    height : 100px;
    display: inline-block;
    margin : 10px 50px 0 50px;
}

.link p{
    font-family : ovo;
    text-align: center;
    margin-bottom: 10px;
}