{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>당근마켓 - 중고 제품 상세!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css" integrity="sha256-G3IAYJYIQvZgPksNQDbjvxd/Ca1SfCDFwu2s2lt0oGo=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'product/marketdetail.css' %}">
</head>
<body>
    <nav class="navbar nav-global fixed-top navbar-expand-sm">
        <div class="container">
            
            <div class = "wrapper">
                <h1>
                    <a href="{% url 'HealF:main' %}">HealF</a>
                </h1>
            </div>

            <a class="navbar-brand" href="../categorie/categorie.html">
                </div>
                    <i class="material-icons ic-filter">arrow_back_ios</i>뒤로
            </a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="" class="btn btn-sm btn-warning disabled">채팅으로 거래하기</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container container-sm container-detail">
        <img src="https://user-images.githubusercontent.com/54762273/179984010-00a6936e-11c5-4451-8d94-de2a4e5c1e15.png" alt="" width="60%" >
        <h3 class="product-title">[판매중] [M] 헬스스트랩 팔아요</h3>
        <h4 class="product-price" style="font-weight:bold;">
            10000원
        </h4>
        <ul class="list-product-information">
            <li class="list-item category">분류<span>헬스 용품</span></li>
            <li class="list-item date">상품 등록 시간 <span><time datetime='2022-07-20T08:30:00Z'>3시간전</time></span></li>
        </ul>
        <div class="description">
            <p>※ 1 판매글 1 제품만 등록
                <br>※ 1개월간 신용 및 거래확인을 위해 판매글 삭제금지(판매 후 개인정보 삭제 가능) - 규정 위반 시 제재
                <br>※ 허위 기재 금지
                <br><br>
                <br>1.판매자명(닉네임) : 맛있닭
                <br>2.연락처(전화번호 필수) : 010-1234-5678
                <br>3.거래지역 : 광주 북구 용봉동
                <br>4.판매제품명 : 헬스스트랩
                <br>5.목적 : 턱걸이 보조, 악력 보조
                <br>6.사이즈 : 손목 얇다 </span>/ <span style="color: red;">중간</span> / 굵다
                <br>7.제품 상태 : 땀 냄새 조금 나요..
                <br>8.희망가격(협의/경매금지) : 10000
                <br>9.제품이미지(상세사ß진 필수)
            </p>
        </div>
        <img src="https://user-images.githubusercontent.com/54762273/179985075-03f56f3c-9474-403c-a6b9-58520abac3ae.png" width="60%" > <br><br>
        <img src="https://user-images.githubusercontent.com/54762273/179985782-c4a772f5-ee36-4f22-b0d0-a486cef995a4.png" width="60%" >
    </div>


    <section class="mb-5" style="width: 48%; margin-left:26%; margin-top: 10%;">
        <div class="card bg-light">
            <div class="card-body">
                <!-- Comment form-->
                <form class="mb-4"><textarea class="form-control" rows="3" placeholder=""></textarea></form>
                <!-- Comment with nested comments-->
                <div class="d-flex mb-4">
                    <!-- Parent comment-->
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3" style="margin-left:3%">
                        <div class="fw-bold">오리꽥꽥</div>
                            혹시 직거래 가능할 까요? 
                        <!-- Child comment 1-->
                        <div class="d-flex mt-4" style="margin-left: 3%;">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" style="margin-right: 3% ;" /></div>
                            <div class="ms-3">
                                <div class="fw-bold">헬스 좋아</div>
                                    아니요
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single comment-->
                <div class="d-flex">
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3"style="margin-left:3%;">
                        <div class="fw-bold">헬린이</div>
                            안녕하세요, 에눌 가능한가요?
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <a href="index.html">2022 HealF</a>
            <h6>Copyright © HealF Market Inc. All rights reserved.</h6>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js" integrity="sha256-59/apVFrosMLFX2dHZLGvb3nPpu7e0Yx1rsDr1dTRrk=" crossorigin="anonymous"></script>
</body>
</html>