{% load static %}
<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8"/>
        <title> 헬스 친구 HealF | 운동하기</title>

        <link rel = "stylesheet" href ="{% static 'exercise/advanced.css' %}">
    </head>

    <body>

    <header>
        <div class = "wrapper">
        <h1>
            <a href="{% url 'home' %}">HealF</a>
        </h1>
    </div>
    </header>
    <br><br><br><br>

    <p style="font-size:30px;font-weight:800; margin-top:50px; text-align: center;"> 등 운동 고급 루틴</p>
   
    <div class="container">
        <div class="menu">
            <img src="https://4.bp.blogspot.com/-H70fLotelxo/WIc2Diso2sI/AAAAAAAABBo/Q2SpiRw4ZI80QRYGesDDsPCH6QpzxBkogCLcB/s1600/%25EB%258D%25B0%25EB%2593%259C%25EB%25A6%25AC%25ED%2594%2584%25ED%258A%25B8%25ED%2596%2584%25EC%258A%25A4%25ED%258A%25B8%25EB%25A7%2581.jpg">
            <br>[step1]<br> 데드리프트 <br>
            <p style="font-size:20px;"> -6~15회 <br> -4~5set <br> -1~3분 휴식 </p>
        </div>
        <div class="menu">
            <img src="https://blog.kakaocdn.net/dn/mqZMg/btrcebpxCtl/ZtRRidsnkTOqeoDFxteeA0/img.png">
            <br>[step2]<br> 바벨 로우<br>
            <p style="font-size:20px;">-8~15회 <br> -4set <br> -1~2분 휴식 </p>
        </div>
        <div class="menu">
            <img src="https://mblogthumb-phinf.pstatic.net/MjAxNzEyMzBfMyAg/MDAxNTE0NjAyOTczNjE3.ZYyAuGEpDgl5vhs2AcCBctiisSnf4_cGtVUqEV43uM8g.Aa3cO95P-b_Lx5OFL0H2NsJ3sw-Tf4y2UFplQqYx7bQg.JPEG.houk0907/One%2BArm%2BDumbbell%2BRow.jpg?type=w2">
            <br>[step3]<br> 원 암 덤벨 로우 <br>
            <p style="font-size:20px;">-8~15회 <br> -3~4set <br> -1~2분 휴식</p>
        </div>
        <div class="menu">
            <img src="https://post-phinf.pstatic.net/MjAxNzExMDdfMTUy/MDAxNTEwMDMyMjk2MDU1.3R0kgAVQ6zF6Di7MEX7bQ9_7AvM52G-mOx4uX9N1uVsg.qF7itc0x6gOi5wSghPjCMpvHg_TH-ZrpeGoJm_GYvaIg.PNG/19.png?type=w1200">
            <br>[step4]<br> 시티드 케이블 로우<br>
            <p style="font-size:20px;">-8~15회 <br> -3~4set <br> -1~2분 휴식</p>
        </div>
        <div class="menu">
            <img src="https://post-phinf.pstatic.net/MjAxNzA2MDlfMzgg/MDAxNDk2OTk1Mjg0NDY2.43Zwc2AgiFHAX7CxvxVSdHG6-s0aVEdYpMHi6kGUYQog._J6W0cQ64GrM44Vw2TLevF9XD4yIC0VaPwRX7en8Oagg.PNG/po9.png?type=w1200">
            <br>[step5]<br> 랫 풀 다운 <br>
            <p style="font-size:20px;">-12~15회 <br> -3~4set <br> -60~90초 휴식</p>
        </div>
        <div class="menu">
            <img src="https://t1.daumcdn.net/cfile/blog/99AD2F3B5DF5C3F927">
            <br>[step6]<br> 덤벨 풀오버<br>
            <p style="font-size:20px;">-8~15회 <br> -3~4set <br> -60~90초 휴식</p>
        </div>
    </div>


    </body>

</html>