{% load static %}
<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8"/>
        <title> 헬스 친구 HealF | 운동하기</title>

        <link rel = "stylesheet" href ="{% static 'exercise/basic.css' %}">
    </head>

    <body>

    <header>
        <div class = "wrapper">
        <h1>
            <a href="{% url 'home' %}">HealF</a>
        </h1>
    </div>
    </header>
    <br><br><br><br>

    <p style="font-size:30px;font-weight:800; margin-top:50px; text-align: center;"> 등 운동 초급 루틴</p>
   
    <div class="container">
        <div class="menu">
            <img src="https://post-phinf.pstatic.net/MjAxNzA2MDlfMzgg/MDAxNDk2OTk1Mjg0NDY2.43Zwc2AgiFHAX7CxvxVSdHG6-s0aVEdYpMHi6kGUYQog._J6W0cQ64GrM44Vw2TLevF9XD4yIC0VaPwRX7en8Oagg.PNG/po9.png?type=w1200">
            <br>[step1]<br> 랫 풀 다운<br>
            <p style="font-size:20px;"> -12~15회 <br> -4set <br> -60~90초 휴식 </p>
        </div>
        <div class="menu">
            <img src="https://mblogthumb-phinf.pstatic.net/MjAyMDA4MDlfMTMy/MDAxNTk2OTU0ODk3ODQ4.YBFu_hLPVPHmvNEI7XrGjJ-CpJZh_GMlz8sNXS8U-DIg.fTPxc3psvkv-2U-euIPUoKZpJhs0qUv-aTXrpCC8mJsg.JPEG.onesoulfire/%EC%96%B8%EB%8D%94%EA%B7%B8%EB%A6%BD_%EB%A0%9B%ED%92%80%EB%8B%A4%EC%9A%B4_(6).jpg?type=w800">
            <br>[step2]<br> 언더그립 랫 풀 다운<br>
            <p style="font-size:20px;">-12~15회 <br> -4set <br> -60~90초 휴식 </p>
        </div>
        <div class="menu">
            <img src="https://post-phinf.pstatic.net/MjAxNzExMDdfMTUy/MDAxNTEwMDMyMjk2MDU1.3R0kgAVQ6zF6Di7MEX7bQ9_7AvM52G-mOx4uX9N1uVsg.qF7itc0x6gOi5wSghPjCMpvHg_TH-ZrpeGoJm_GYvaIg.PNG/19.png?type=w1200">
            <br>[step3]<br> 시티드 케이블 로우 <br>
            <p style="font-size:20px;">-12~15회 <br> -3set <br> -60~90초 휴식</p>
        </div>
    </div>


    </body>

</html>