{% load static %}
<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8"/>
        <title> 헬스 친구 HealF | 운동하기</title>

        <link rel = "stylesheet" href ="{% static 'exercise/middle.css' %}">
    </head>

    <body>

    <header>
        <div class = "wrapper">
        <h1>
            <a href="{% url 'home' %}">HealF</a>
        </h1>
    </div>
    </header>
    <br><br><br><br>

    <p style="font-size:30px;font-weight:800; margin-top:50px; text-align: center;"> 등 운동 중급 루틴</p>
   
    <div class="container">
        <div class="menu">
            <img src="https://post-phinf.pstatic.net/MjAxODA2MTJfMTM0/MDAxNTI4NzgyODE4OTIw.gFTdtHTzkJTnZYaOp2V5C9XIHdwxkGPVpe0NwheNH3Qg.MaDMX5EwjazT7V5YLBM48wE7rNQUNfFJvK0jzyvm1n0g.PNG/14.png?type=w1200">
            <br>[step1]<br> 풀 업(턱걸이) <br>
            <p style="font-size:20px;"> -MAX <br> -4set <br> -1~2분 휴식 </p>
        </div>
        <div class="menu">
            <img src="https://post-phinf.pstatic.net/MjAxNzExMDdfMTUy/MDAxNTEwMDMyMjk2MDU1.3R0kgAVQ6zF6Di7MEX7bQ9_7AvM52G-mOx4uX9N1uVsg.qF7itc0x6gOi5wSghPjCMpvHg_TH-ZrpeGoJm_GYvaIg.PNG/19.png?type=w1200">
            <br>[step2]<br> 바벨 로우<br>
            <p style="font-size:20px;">-10~15회 <br> -4set <br> -1~2분 휴식 </p>
        </div>
        <div class="menu">
            <img src="https://mblogthumb-phinf.pstatic.net/MjAxNzEyMzBfMyAg/MDAxNTE0NjAyOTczNjE3.ZYyAuGEpDgl5vhs2AcCBctiisSnf4_cGtVUqEV43uM8g.Aa3cO95P-b_Lx5OFL0H2NsJ3sw-Tf4y2UFplQqYx7bQg.JPEG.houk0907/One%2BArm%2BDumbbell%2BRow.jpg?type=w2">
            <br>[step3]<br> 원 암 덤벨 로우 <br>
            <p style="font-size:20px;">-10~15회 <br> -3set <br> -60~90초 휴식</p>
        </div>
        <div class="menu">
            <img src="https://t1.daumcdn.net/cfile/tistory/99E1B63E5E3CFCF105">
            <br>[step4]<br> 루마니안 데드리프트 <br>
            <p style="font-size:20px;">-10~15회 <br> -4set <br> -1~2분 휴식</p>
        </div>
        <div class="menu">
            <img src="https://t1.daumcdn.net/cfile/blog/99AD2F3B5DF5C3F927">
            <br>[step5]<br> 덤벨 풀오버 <br>
            <p style="font-size:20px;">-10~15회 <br> -4set <br> -60~90초 휴식</p>
        </div>
    </div>


    </body>

</html>