<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8"/>
        <title> 헬스 친구 HealF | 운동하기</title>

        <link rel = "stylesheet" href ="challenge_diet.css">
        <script type="text/javascript" src="../js/exercise.js"></script>
    </head>

    <body>

    <header>
        <div class = "wrapper">
        <h1>
            <a href="../main/main.html">HealF</a>
        </h1>
    </div>
    </header>

    <div class="loading">
        <div class="loading_txt">준비중</div>
        <span></span>   <!--1. span은 하나의 원이다. -->
        <span></span>
        <span></span>
    </div>
    

    </body>

</html>