@font-face{
    font-family: 'Baloo';
    src: url("BalooBhai.ttf") format("truetype");
}

header {
    font-family : 'Baloo';
    height : 60px;
    width: 100%;
    background-color: rgba(108, 60, 244, 0.85);
    color: white;
    position: fixed;
    z-index: 9999;
    top : 0;
    left : 0;
  }

/*healf*/
h1{
    line-height:5px;
    font-size: 40px;
    float : left;
}
 
h1 a{
    text-decoration: none;
    color : white;
}

.wrapper{
    width :70%;
    margin : 0 auto;
}

.container {
    width : 85%;
    height: 500px;
    display : inline-flex;
    justify-content : space-between;
    margin-left: 8%;
    margin-top : 0%;
    background-color:rgb(255, 255, 255);
}

  .menu{
    width : 350px;
    height : 450px;
    color : #000000;
    background-color : rgba(255, 255, 255);
    text-align : center;
    margin-left : auto;
    margin-right :auto;
    font-family : 'Baloo';
    font-size: 25px;
    font-weight:bold;
    border-style : solid;
  }

  img {
    width: 330px;
    height: 220px;
   }