@font-face {
    font-family: 'Baloo';
    src: url('BalooBhai.ttf') format('truetype');
}
@font-face {
    font-family: 'ovo';
    src: url('Ovo-Regular.ttf') format('truetype');
}

a {
    text-decoration: none;
    color : inherit;
}

header {
    font-family : 'Baloo';
    height : 60px;
    width: 100%;
    background-color: rgba(108, 60, 244, 0.85);
    position: fixed;
    top : 0;
    left : 0;
  }
/*healf*/
h1{
    line-height:5px;
    font-size: 40px;
    float : left;
}
 
h1 a{
    color : white;
    text-decoration-line: none;
}

.container {
    width : 65%;
    display : inline-flex;
    justify-content : space-between;
    margin-left: 18%;
    margin-top : 2%;
}

.wrapper{
    width :70%;
    margin : 0 auto;
}