@font-face {
    font-family: 'Baloo';
    src: url('BalooBhai.ttf') format('truetype');
}
@font-face {
    font-family: 'ovo';
    src: url('Ovo-Regular.ttf') format('truetype');
}
ul,li {
    list-style : none;
}

h1 a{
    text-decoration: none;
    color : white;
}

a {
    text-decoration: none;
    color : inherit;
}
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

header {
    font-family : 'Baloo';
    height : 60px;
    width: 100%;
    background-color: rgba(108, 60, 244, 0.85);
    position: fixed;
    top : 0;
    left : 0;
    z-index: 3;
}
.wrapper{
    width : 70%;
    margin : 0 auto;
}
/*healf*/
h1{
    line-height:60px;
    font-size: 40px;
    float : left;
}
 
h1 a{
    color : white;
}

.menu{
    font-family : ovo;
    /* float : right; */
}

/*로그인 회원가입*/
.menu li{
    line-height: 60px;
    float: left;
    font-size: 12pt;
    color : white;
    margin : 0 5px;
}

.menu li:last-child{
    margin-right: 0;
}


/*물품 박스*/
.main-box .product-box{
    position: absolute;
    top : 900px;
}


/* 물품 제목 자르기 */
.title{
    display: inline-block; 
    width: 210px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}